*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Custom ignores
referenceImages/
.vscode/
/*.png
# Android release signing
*.jks
*.keystore
keystore.properties

Ui-Designs/
FeedBackUi/
